---
import Layout from '../layouts/Layout.astro';
import Main from '../components/Main.astro';
---

<Layout title="About Rythm Nation Blog">
	<Main>
		<h1>About Rythm Nation Blog</h1>
        <p>Hi, I'm Rythm Nation. I'm a musician and a blogger. I love to write about music and share my thoughts with the world. This blog is my way of doing that.</p>
	</Main>
</Layout>
