---
import Layout from '../layouts/Layout.astro';
import Main from '../components/Main.astro';

import RobotIcon from '../components/icons/RobotIcon.astro';
import HandIcon from '../components/icons/HandIcon.astro';
import PaperIcon from '../components/icons/PaperIcon.astro';

import {Image} from "astro:assets"
---

<Layout title="AIdventure - Your Machine Learning Blog" current_page="home">

<section
  class="relative bg-[url(/dungeonru.png)] bg-cover bg-right bg-no-repeat -mt-32 z-0"
>
  <div
    class="absolute inset-0 bg-white/75 sm:bg-transparent sm:from-white/95 sm:to-white/25 ltr:sm:bg-gradient-to-r"
  ></div>

  <div
    class="relative mx-auto max-w-screen-xl px-4 py-32 sm:px-6 lg:flex lg:min-h-screen lg:items-center lg:px-8"
  >
    <div class="max-w-xl text-left ltr:sm:text-left text-gray-200">
      <h1 class="text-3xl font-extrabold sm:text-5xl">
        Welcome

        <strong class="block font-extrabold text-gold-300 text-4xl sm:text-6xl"> Aidventurer! </strong>
      </h1>

      <p class="mt-4 max-w-lg sm:text-xl/relaxed">
        It has never been easier to find the information we are looking for, or not to find it at all. In this blog I will try to be concise and get straight to the point.
      </p>

      <div class="mt-8 flex flex-wrap gap-4 text-center">
        <a
          href="/blog"
          class="btn"
        >
          Explore
        </a>
      </div>
    </div>
  </div>
</section>

</Layout>


<style>
	.btn {
  background: #e5e5e5;
  box-shadow: 4px 4px #e8bc53, 9px 9px #151515;
  color: #151515;
  text-transform: lowercase;
  border: solid 2px #151515;

  text-decoration: none;

  padding: 18px 32px;
  display: inline-flex;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
  position: relative;
  z-index: 1;
  transition: 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  cursor: pointer;
  overflow: hidden;
  transition-delay: 0s !important;
  text-transform: uppercase !important;
  letter-spacing: 1.5px;
  font-family: freight-sans-pro, sans-serif;
}
.btn::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  width: 0%;
  height: 100%;
  background: #733bec;
  z-index: -1;
  transition: 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.btn:hover::before {
  width: 100%;
  left: 0;
  right: unset;
}
.btn:hover {
  box-shadow: 0 0 #ffe00b, 0 0 #151515;
  color: white;
}

</style>