---
import Layout from '../layouts/Layout.astro';
import Main from '../components/Main.astro';

import RobotIcon from '../components/icons/RobotIcon.astro';
import HandIcon from '../components/icons/HandIcon.astro';
import PaperIcon from '../components/icons/PaperIcon.astro';

import {Image} from "astro:assets"
---

<Layout title="AIdventure - Your Machine Learning Blog">
	<Main>
		
		<section class="py-20">
			<div class="container items-center max-w-6xl px-10 mx-auto sm:px-20 md:px-32 lg:px-16">
			  <div class="flex flex-wrap items-center -mx-3">
				<div class="order-1 w-full px-3 lg:w-1/2 lg:order-0">
				  <div class="w-full lg:max-w-md">
					<h1 class="mb-4 text-3xl font-bold leading-tight tracking-tight sm:text-4xl font-heading">
						Hello AIdventurer!
					</h1>
					<p class="mb-4 font-medium tracking-tight text-gray-400 xl:mb-6">It has never been easier to find the information we are looking for, or not to find it at all. In this blog I will try to be concise and get straight to the point. The blog will tackle the following:</p>
					<ul>
					  <li class="flex items-center py-2 space-x-4 xl:py-3">
						<RobotIcon />
						<span class="font-medium text-gray-500">
							CV, NLP, Whatever, Machine Learning
						</span>
					  </li>
					  <li class="flex items-center py-2 space-x-4 xl:py-3">
						<HandIcon />
						<span class="font-medium text-gray-500">
							Hands-on tutorials with code snippets
						</span>
					  </li>
					  <li class="flex items-center py-2 space-x-4 xl:py-3">
						<PaperIcon />
						<span class="font-medium text-gray-500">
							Review and explanation of papers
						</span>
					  </li>
					</ul>
				  </div>
				</div>
				<div class="w-full px-1 lg:px-3 mb-12 lg:w-1/2 order-0 lg:order-1 lg:mb-0">
					<Image
						src="/backpacking.svg"
						alt="test"
						width={450}
						height={450}
						format="svg"
						class="bottom-border aspect-thumbnail object-cover min-w-full"
					/>
				</div>
			  </div>
			</div>
		  </section>
		
	</Main>
</Layout>
