---
import Toast from './Toast.astro';
import HeartIcon from './icons/HeartIcon.astro'
---

<div>
  <h3 class="text-sm text-black mt-8">
    Subscribe to don't miss any news!
  </h3>
  <form
    class="border-black shadow bg-white border-2 justify-between mt-4 p-2 rounded-2xl sm:flex"
  >
    <label class="sr-only" for="email-address">Email address</label>
    <input
      autocomplete="email"
      class="w-full px-5 border-transparent focus:ring-black py-3 bg-transparent focus:border-black placeholder-black rounded-xl sm:max-w-xs"
      id="email-address"
      name="email"
      placeholder="Enter your email"
      required=""
      type="email"
    /><div class="ml-auto mt-3 rounded-md sm:flex-shrink-0 sm:ml-3 sm:mt-0">
      <button
        class="items-center w-full border-black flex border-2 bg-black focus:outline-none focus:ring-2 focus:ring-black focus:ring-offset-2 font-medium hover:bg-lila-500 hover:text-black justify-center px-5 py-3 rounded-xl text-base text-white"
        type="submit"
      >
        <HeartIcon /> Subscribe for free
      </button>
    </div>
  </form>
</div>

<Toast toast_id="toast_subscribe">
  <div id="toast_subscribe_content"></div>
</Toast>

<script is:inline>
  // When submitting the form, send the email to the API
  // its a post request to http://localhost:8000/subscribe
  // with the email in the body
  document.querySelector('form').addEventListener('submit', async (e) => {
    e.preventDefault()
    const { email } = Object.fromEntries(new FormData(e.target))
    const res = await fetch('http://0.0.0.0:8001/subscribe', {
      method: 'POST',
      body: JSON.stringify({ email }),
      headers: {
        'Content-Type': 'application/json',
      },
    })
    if (res.ok) {
      // Clear the input
      e.target.querySelector('input').value = ''
      // Set the toast content #toast_subscribe_content
      document.querySelector('#toast_subscribe_content').innerHTML = 'Thanks for subscribing!'
      // Show the toast
      var subscribe_toast = document.getElementById("toast_subscribe");
      // Append class 'show' to the toast
      subscribe_toast.className += " bg-green-600 show";
      setTimeout(function(){
        subscribe_toast.className = subscribe_toast.className.replace("show", ""); },
        3000
      );
    } else {
      // Set the toast content #toast_subscribe_content
      document.querySelector('#toast_subscribe_content').innerHTML = 'Something went wrong :('
      // Show the toast
      var subscribe_toast = document.getElementById("toast_subscribe");
      // Append class 'show' to the toast
      subscribe_toast.className += " bg-red-600 show";
      setTimeout(function(){
        subscribe_toast.className = subscribe_toast.className.replace("show", ""); },
        3000
      );
    }
  })
</script>
