---
import AIdventureIcon from '../components/icons/AIdventureIcon.astro'
import HamburgerIcon from '../components/icons/HamburgerIcon.astro'
import CloseIcon from '../components/icons/CloseIcon.astro'
---

<header>
    <nav class="mx-auto w-full bg-lila-500 2xl:border-y-2 justify-center sticky border-y-2 border-black mb-12">
        <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto py-10 px-12">
            <a href="/" class="flex items-center">
                <AIdventureIcon />
                <span class="text-2xl font-normal text-lila-950">AIdventure</span>
            </a>
            <button data-collapse-toggle="navbar-default" type="button" class="bg-pink-500 border-2 border-black inline-flex items-center p-2 w-10 h-10 justify-center text-sm md:hidden" aria-controls="navbar-default" aria-expanded="false">
                <span class="sr-only">Open main menu</span>
                <HamburgerIcon icon_id="menu-opener" />
                <CloseIcon icon_id="menu-closer" classes="hidden" />
            </button>
            <div class="hidden w-full md:block md:w-auto" id="navbar-default">
                <ul class="text-lg items-center gap-4 font-medium flex flex-col p-4 md:p-0 mt-4 md:flex-row md:space-x-8 md:mt-0">
                    <li>
                        <a href="/" class="font-normal" aria-current="page">Home</a>
                    </li>
                    <li>
                        <a href="/blog" class="font-normal">Blog</a>
                    </li>
                    <li>
                        <a href="/about" class="font-normal">About</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<script>
    const navBar = () => {
        const navbar = document.querySelector('[data-collapse-toggle="navbar-default"]');
        const menuOpen = document.querySelector('#menu-opener');
        const menuClose = document.querySelector('#menu-closer');
        const navbarMenu = document.querySelector('#navbar-default');
        
        navbar?.addEventListener('click', () => {
            menuOpen?.classList.toggle('hidden');
            menuClose?.classList.toggle('hidden');
            navbarMenu?.classList.toggle('hidden');
        });
    }

    document.addEventListener('DOMContentLoaded', navBar);
    document.addEventListener('astro:after-swap', navBar);

</script>