---
import type {CollectionEntry} from "astro:content"

import Post from "./Post.astro"
import FeaturedPost from "./FeaturedPost.astro"
type Props = {
    posts: CollectionEntry<"posts">[]
}

const {posts} = Astro.props
---

<!-- Draw the first post as special one -->
<FeaturedPost post={posts[0]} />

<div
    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-x-12 gap-y-12 max-sm:gap-y-14 mt-16"
>
    {posts.slice(1).map((post) => (
        <Post post={post} />
    ))}
</div>
