---
import { ViewTransitions } from "astro:transitions";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

// Supports weights 200-800
import '@fontsource-variable/bricolage-grotesque';

interface Props {
  title?: string;
  current_page?: string;
}

const {
  title = "Rythm Nation",
  current_page = "home",
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="AIdventure - Your blog about AI and Machine Learning" />
    <meta name="viewport" content="width=device-width" />
    
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <!-- Google tag (gtag.js) -->
    <script
      type="text/partytown"
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-TS4HXRXD2W"
    ></script>
    <script type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-TS4HXRXD2W');
    </script>
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body
    class="min-h-screen grid grid-rows-[auto,1fr,auto]"
  >
    <Header current_page={current_page} />
    <slot />
    <Footer />
  </body>
</html>


<style is:global>
  /**
 * Enable smooth scrolling on the whole document
 */
  html {
    scroll-behavior: smooth;
    word-wrap: break-word;
  }
  body {
    background-color: rgb(27,31,36);
    font-family: 'Bricolage Grotesque Variable', sans-serif;
  }

  pre {
    white-space: pre !important;
  }

  /* Scrollbars inside pre elements */
  pre::-webkit-scrollbar {
    width: fit-content;
  }

  pre::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px grey; 
    border-radius: 3px;
    background-color: #8C8C8C;
  }

  pre::-webkit-scrollbar-thumb {
    background: rgb(196, 192, 192); 
    border: 3px solid #8C8C8C;
    border-radius: 7px;
  }

  pre::-webkit-scrollbar-thumb:hover {
    background: #dddddd; 
  }
</style>
  